# Following are only needed when not using Docker, or for local development. When using Docker, these should be set in the `docker-compose.yml` file instead.
DATABASE_URL=postgres://USER:PASSWORD@HOST:PORT/DATABASE
REDIS_URL=redis://USER:PASSWORD@HOST:PORT

# Local dev uses this relative path
DATA_PATH=./data

# Local dev uses this relative path
# Prod leave this unset; compose defaults to /mnt/video_storage; Change this if you want a different path
VIDEO_STORAGE_PATH=./data

#---------------------------------------------------------------
# Admin Panel Dashboard Credentials
ADMIN_PASSWORD=your_super_secure_password
